In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('cv_final.csv')
df.head()

,Unnamed: 0,professionals_id,professionals_location,professionals_industry,professionals_headline,answers_id,answers_body,students_id,students_location,questions_id,questions_title,questions_body
0,0,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,f18d7fca363d4b21a81e6683c5a86b96,"<html><head></head><body><p>Hi Deja,</p>\n<p>K...",16908136951a48ed942738822cedd5c2,"Palm Harbor, Florida",e214acfbe6644d65b889a3268828db9d,what does it take to be an anesthesiologist?,I am a sophomore who is interested in learning...
1,1,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,5d670d5f8700402ab56bae609b06d02d,<html><head></head><body><p>It looks like this...,16908136951a48ed942738822cedd5c2,"Palm Harbor, Florida",9d211b99e17c46fbbaca03dc6b43f1c4,what are some of the ups and downs of being a ...,I am a sophomore who is interested in learning...
2,2,13b55ed4834e4814bb33a4c87001063d,"Memphis, Tennessee",Hospital & Health Care,NICU Nurse Manager at Baptist Memorial Hospita...,1265c6484d5c476ca60c1bed13ea5cd6,<p>Being a neonatal nurse is very rewarding an...,16908136951a48ed942738822cedd5c2,"Palm Harbor, Florida",9d211b99e17c46fbbaca03dc6b43f1c4,what are some of the ups and downs of being a ...,I am a sophomore who is interested in learning...
3,3,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,6d823a750e294c75b10fafbbbaf19855,<p><em>[Posted on behalf of a CareerVillage Pr...,177f482adc1a449284471f7c556ee8f0,United States,e978b437413048c183e3cb556f90a878,What do I have to do to become an investor?,<p>I would like to invest in other companies w...
4,4,a8d48ad29465479bbeb7f19ee3b77d1a,"Bengaluru, Karnataka, India",Information Technology and Services,Escalation Specialist at Dell,63be2c32d84c4e74bf34c6e5cce16e47,<p>Understand the Market\nAnalyze Your Finance...,177f482adc1a449284471f7c556ee8f0,United States,e978b437413048c183e3cb556f90a878,What do I have to do to become an investor?,<p>I would like to invest in other companies w...

Where professionals and students are from. Which locations have both professionals and students.

In [5]:
print(df.professionals_location.value_counts())
print(df.professionals_location.value_counts().size)


print(df.students_location.value_counts())
print(df.students_location.value_counts().size)

Bengaluru, Karnataka, India                          2334
New York, New York                                   2117
Cleveland, Ohio                                      1876
Boston, Massachusetts                                1214
San Francisco, California                            1205
Austin, Texas                                        1118
Redford Charter Township, Michigan                   1112
San Antonio, Texas                                   1013
Greater New York City Area                            990
Los Angeles, California                               983
State of Goiás, State of Goiás, Brazil                914
Houston, Texas                                        872
California, California                                866
Washington, Washington                                756
United States                                         732
Chicago, Illinois                                     687
Philadelphia, Pennsylvania                            639
Atlanta, Georgia                                      635
Seattle, Washington                                   598
Dallas, Texas                                         561
Woodbridge Township, New Jersey                       421
Harlingen, Texas                                      401
Greater Philadelphia Area                             390
Greater Chicago Area                                  368
Baltimore, Maryland                                   361
Washington                                            339
India                                                 289
San Francisco Bay Area                                286
Saint Petersburg, Florida                             283
Sunnyvale, California                                 249
                                                     ...
Greater Omaha Area                                      1
Mableton, Georgia                                       1
Cape Coast, Central, Ghana                              1
Mechanicsburg, Pennsylvania                             1
Lansing, Michigan Area                                  1
Maple Valley, Washington                                1
Corona, California                                      1
Modesto, California Area                                1
Chadron, Nebraska                                       1
Whittier, California                                    1
Commerce Charter Township, Michigan                     1
Gonzales, Louisiana                                     1
Westfield, Indiana                                      1
Simi Valley, California                                 1
Shanghai, China                                         1
Windsor Junction, Nova Scotia, Canada                   1
New Haven, Connecticut                                  1
Oxford, England, United Kingdom                         1
Yonkers, New York                                       1
Johannesburg Area, South Africa                         1
Weifang, Shandong, China                                1
Sydenham, Victoria, Australia                           1
Ayr, Scotland, United Kingdom                           1
Waldorf, Maryland                                       1
Novi Sad, Vojvodina, Serbia                             1
Lisle, Illinois                                         1
Iowa City, Iowa Area                                    1
Campo Grande, State of Mato Grosso do Sul, Brazil       1
New Mexico, New Mexico                                  1
Huntington Beach, California                            1
Name: professionals_location, Length: 1552, dtype: int64
1552
New York, New York                             2042
San Jose, California                           1241
Providence, Rhode Island                       1152
Boston, Massachusetts                          1072
Los Angeles, California                         936
Bengaluru, Karnataka, India                     905
Laurinburg, North Carolina                      767
Houston, Texas                                  669
San Francisco, California                       657
Philadelphia, Pennsylvania                      503
Chicago, Illinois                               489
Haslet, Texas                                   489
Austin, Texas                                   484
Hyderabad, Telangana, India                     453
Chennai, Tamil Nadu, India                      438
Jacksonville, Florida                           363
Oakland, California                             343
Lynn, Massachusetts                             328
Stanford, California                            314
Atlanta, Georgia                                306
Justin, Texas                                   273
Dallas, Texas                                   267
Kansas City, Missouri                           266
Redwood City, California                        262
New Orleans, Louisiana                          250
San Antonio, Texas                              250
Irving, Texas                                   223
Montreal, Quebec, Canada                        221
United States                                   212
Fremont, California                             206
                                               ...
Georgetown, Texas                                 1
Maiduguri, Borno, Nigeria                         1
Redding, Connecticut                              1
Lake Villa, Illinois                              1
Pocomoke City, Maryland                           1
Gloria, MIMAROPA, Philippines                     1
New Bethlehem, Pennsylvania                       1
Chita, Zabaykalsky Krai, Russia                   1
Alma, Georgia                                     1
Lawrenceville, Georgia                            1
Emeryville, California                            1
Hardinsburg, Kentucky                             1
De Witt, Nebraska                                 1
Nigeria                                           1
Aba, Abia, Nigeria                                1
Longmont, Colorado                                1
Chittagong, Chittagong Division, Bangladesh       1
Greenwood, Delaware                               1
Bay Harbor Islands, Florida                       1
Sumner, Washington                                1
Westlake Village, California                      1
Wolcott, Connecticut                              1
Cape Verde                                        1
Bronson, Florida                                  1
Fruita, Colorado                                  1
Kingston, New York                                1
Gore, Oklahoma                                    1
Greenup, Illinois                                 1
Hilo, Hawaii                                      1
Santa Maria, California                           1
Name: students_location, Length: 3311, dtype: int64
3311

In [14]:
p = (np.array(df['professionals_location'].values.tolist()))
s = (np.array(df['students_location'].values.tolist()))

i = np.intersect1d(p,s)
print(i)
print(i.size)

['Abuja, FCT, Nigeria' 'Acworth, Georgia' 'Africa'
 'Ahmedabad, Gujarat, India' 'Aiken, South Carolina' 'Albany, New York'
 'Albuquerque, New Mexico' 'Alexandria, Alexandria Governorate, Egypt'
 'Alexandria, Virginia' 'Algonquin, Illinois' 'Alhambra, California'
 'Alicante, Valencian Community, Spain' 'Allen, Texas'
 'Allentown, Pennsylvania' 'Alpharetta, Georgia' 'Alpine, New Jersey'
 'Alvin, Texas' 'Amarillo, Texas' 'Ames, Iowa' 'Amherst, Massachusetts'
 'Amherst, New Hampshire' 'Amman, Amman Governorate, Jordan'
 'Anaheim, California' 'Anchorage, Alaska' 'Anderson, Indiana'
 'Andover, Massachusetts' 'Ann Arbor, Michigan' 'Annapolis, Maryland'
 'Antioch, California' 'Apex, North Carolina' 'Appleton, Wisconsin'
 'Arlington Heights, Illinois' 'Arlington, Massachusetts'
 'Arlington, Texas' 'Arlington, Virginia' 'Ashburn, Virginia'
 'Astoria, Oregon' 'Atherton, California' 'Atlanta, Georgia'
 'Auburn, Washington' 'Auckland, New Zealand' 'Aurora, Colorado'
 'Aurora, Illinois' 'Austin, Texas' 'Baldwin Park, California'
 'Baltimore, Maryland' 'Barcelona, Catalonia, Spain'
 'Barrington, Illinois' 'Batavia, Illinois' 'Baton Rouge, Louisiana'
 'Bayonne, New Jersey' 'Beaumont, Texas' 'Beaverton, Oregon'
 'Bedford, Massachusetts' 'Bedford, Texas' 'Beijing, China'
 'Belgrade, Serbia' 'Bellevue, Washington' 'Belmont, Massachusetts'
 'Bengaluru, Karnataka, India' 'Benicia, California'
 'Bentonville, Arkansas' 'Berkeley, California' 'Bethesda, Maryland'
 'Beverly Hills, California' 'Billings, Montana' 'Binghamton, New York'
 'Birmingham, Alabama' 'Blacksburg, Virginia' 'Blairsville, Pennsylvania'
 'Bloomington, Indiana' 'Boca Raton' 'Boerne, Texas' 'Boise, Idaho'
 'Bolingbrook, Illinois' 'Boone, North Carolina' 'Boston, Massachusetts'
 'Bothell, Washington' 'Boulder, Colorado' 'Bowie, Maryland'
 'Bradenton, Florida' 'Branchburg, New Jersey' 'Brandon, Florida' 'Brazil'
 'Brewster, New York' 'Brick, New Jersey' 'Bridgeport, Connecticut'
 'Bridgetown, Saint Michael, Barbados' 'Bridgewater, New Jersey'
 'Brighton, Michigan' 'Bristol, Rhode Island' 'Bristow, Virginia'
 'Broadview Heights, Ohio' 'Brockton, Massachusetts'
 'Brookfield, Wisconsin' 'Brookline, Massachusetts' 'Brossard, Canada'
 'Brownsburg, Indiana' 'Brownsville, Texas' 'Bryan, Texas'
 'Buffalo Grove, Illinois' 'Buffalo, New York' 'Buford, Georgia'
 'Burbank, California' 'Burke, Virginia' 'Burlingame, California'
 'Burlington, North Carolina' 'Burlington, Vermont'
 'Cairo, Cairo Governorate, Egypt' 'Caldwell, New Jersey'
 'Calgary, Alberta, Canada' 'California, California'
 'Cambridge, Massachusetts' 'Canada' 'Canton, Georgia' 'Canton, Michigan'
 'Cape Coast, Central, Ghana' 'Carmel, Indiana' 'Carmel, New York'
 'Cary, North Carolina' 'Casablanca, Grand Casablanca, Morocco'
 'Castro Valley, California' 'Cedar Hill, Texas' 'Cedar Park, Texas'
 'Centreville, Virginia' 'Cerritos, California' 'Chandler, Arizona'
 'Channelview, Texas' 'Chantilly, Virginia' 'Chapel Hill, North Carolina'
 'Charleston, South Carolina' 'Charlotte, North Carolina'
 'Charlottesville, Virginia' 'Chattanooga, Tennessee'
 'Chennai, Tamil Nadu, India' 'Cherry Hill, New Jersey'
 'Chesapeake, Virginia' 'Chicago, Illinois' 'Chino Hills, California'
 'Chittagong, Chittagong Division, Bangladesh' 'Cincinnati, Ohio'
 'Claremont, California' 'Clarkston, Michigan' 'Clayton, North Carolina'
 'Clearwater, Florida' 'Clermont, Florida' 'Cleveland, Ohio'
 'Coatesville, Pennsylvania' 'Coimbatore, Tamil Nadu, India'
 'College Park, Georgia' 'College Park, Maryland'
 'Collegeville, Pennsylvania' 'Collierville, Tennessee'
 'Colorado Springs, Colorado' 'Columbia' 'Columbia, Missouri'
 'Columbia, South Carolina' 'Columbus, Ohio' 'Compton, California'
 'Conroe, Texas' 'Conyers, Georgia' 'Coppell, Texas' 'Corona, California'
 'Cranberry Township, Pennsylvania' 'Crete, Illinois' 'Crosby, Texas'
 'Crowley, Texas' 'Culver City, California' 'Cumming, Georgia'
 'Cupertino, California' 'Cypress, Texas' 'Dallas, Texas'
 'Daly City, California' 'Danville, Illinois' 'Dar es Salaam, Tanzania'
 'Davenport, Iowa' 'Dayton, Ohio' 'DeKalb, Illinois'
 'Dearborn Heights, Michigan' 'Dearborn, Michigan' 'Decatur, Georgia'
 'Decatur, Illinois' 'Denham Springs, Louisiana' 'Denton, Texas'
 'Denver, Colorado' 'Des Moines, Iowa' 'Detroit, Michigan'
 'Dexter, Michigan' 'Dhaka Division, Dhaka Division, Bangladesh'
 'Dickinson, Texas' 'Dothan, Alabama' 'Douglasville, Georgia'
 'Downingtown, Pennsylvania' 'Doylestown, Pennsylvania'
 'Dubai, United Arab Emirates' 'Dublin, California' 'Dublin, Ohio'
 'Duluth, Georgia' 'Duncan, Oklahoma' 'Dunedin, Florida'
 'Durham, North Carolina' 'Easton, Pennsylvania' 'Eau Claire, Wisconsin'
 'Edinburg, Texas' 'Edinburgh, Scotland, United Kingdom'
 'Edison, New Jersey' 'Edmonton, Alberta, Canada' 'Egypt' 'El Paso, Texas'
 'El Segundo, California' 'El Sobrante, California'
 'Elizabeth, New Jersey' 'Elkins Park, Pennsylvania' 'Elkton, Maryland'
 'Ellensburg, Washington' 'Ellicott City, Maryland' 'Elmont, New York'
 'Emeryville, California' 'England, England, United Kingdom'
 'Eugene, Oregon' 'Evansville, Indiana' 'Everett, Massachusetts'
 'Everett, Washington' 'Evergreen Park, Illinois' 'Fairburn, Georgia'
 'Fairfax, Virginia' 'Fall River, Massachusetts' 'Falls Church, Virginia'
 'Farmington Hills, Michigan' 'Fayetteville, Arkansas'
 'Fayetteville, Georgia' 'Fayetteville, North Carolina'
 'Feasterville-Trevose, Pennsylvania' 'Federal Way, Washington'
 'Fishers, Indiana' 'Flemington, New Jersey' 'Florham Park, New Jersey'
 'Florida, Florida' 'Fontana, California' 'Fort Collins, Colorado'
 'Fort Lauderdale, Florida' 'Fort Lee, New Jersey'
 'Fort Mill, South Carolina' 'Fort Myers, Florida'
 'Fort Walton Beach, Florida' 'Fort Wayne, Indiana' 'Fort Worth, Texas'
 'Fountain Valley, California' 'Framingham, Massachusetts'
 'Franklin, New Jersey' 'Franklin, Tennessee' 'Fraser, Michigan'
 'Frederick, Maryland' 'Fredericksburg, Virginia' 'Fremont, California'
 'Frisco, Texas' 'Fuquay Varina, North Carolina'
 'Gaborone, South-East District, Botswana' 'Gainesville, Florida'
 'Gainesville, Georgia' 'Galveston, Texas' 'Garden City, New York'
 'Gardner, Massachusetts' 'Garland, Texas' 'Gary, Indiana'
 'Georgetown, Texas' 'Georgia, Georgia' 'Germantown, Maryland' 'Germany'
 'Gig Harbor, Washington' 'Gilbertsville, Pennsylvania'
 'Glasgow, Scotland, United Kingdom' 'Glastonbury, Connecticut'
 'Glen Burnie, Maryland' 'Glendale, Arizona' 'Glenside, Pennsylvania'
 'Glenview, Illinois' 'Golden, Colorado' 'Grand Prairie, Texas'
 'Grand Rapids, Michigan' 'Grandview, Missouri' 'Greece'
 'Greeley, Pennsylvania' 'Greenbelt, Maryland'
 'Greensboro, North Carolina' 'Greenville, South Carolina'
 'Greenwood, Indiana' 'Greer, South Carolina' 'Gurnee, Illinois'
 'Gurugram, Haryana, India' 'Hackensack, New Jersey'
 'Haddonfield, New Jersey' 'Hagerstown, Maryland' 'Hamburg, Germany'
 'Hamden, Connecticut' 'Hampton, Virginia' 'Hanover, Maryland'
 'Hanover, New Jersey' 'Hanover, Pennsylvania' 'Harlingen, Texas'
 'Hartford, Connecticut' 'Haslet, Texas' 'Henderson, Nevada'
 'Hercules, California' 'Herndon, Virginia' 'Heroica Veracruz, Mexico'
 'Highland, California' 'Hilliard, Ohio' 'Hillsboro, Oregon'
 'Hillsdale, New Jersey' 'Hoboken, New Jersey' 'Hoffman Estates, Illinois'
 'Holbrook, Massachusetts' 'Hong Kong' 'Honolulu, Hawaii'
 'Hoover, Alabama' 'Hopkinton, Massachusetts' 'Houston, Texas' 'Howell'
 'Hudson, New York' 'Humble, Texas' 'Huntingdon, England, United Kingdom'
 'Huntington Beach, California' 'Huntington Park, California'
 'Huntington, West Virginia' 'Huntsville, Alabama'
 'Hurricane, West Virginia' 'Hyattsville, Maryland'
 'Hyderabad, Telangana, India' 'Illinois, Illinois' 'India'
 'Indian Trail, North Carolina' 'Indiana, Indiana' 'Indianapolis, Indiana'
 'Indonesia' 'Inglewood, California' 'Iowa City, Iowa' 'Iran'
 'Irvine, California' 'Irving, Texas'
 'Islamabad, Islamabad Capital Territory, Pakistan' 'Ithaca, New York'
 'Jackson, Michigan' 'Jackson, Tennessee' 'Jacksonville, Florida'
 'Jacksonville, North Carolina' 'Jaipur, Rajasthan, India'
 'Jamison, Pennsylvania' 'Japan' 'Jefferson, Iowa'
 'Jersey City, New Jersey' 'Johannesburg, Gauteng, South Africa'
 'Jonesboro' 'Jordan' 'Justice, Illinois' 'Justin, Texas'
 'Kalamazoo, Michigan' 'Kampala, Central Region, Uganda'
 'Kansas City, Kansas' 'Kansas City, Missouri' 'Karachi, Sindh, Pakistan'
 'Kathmandu, Central Development Region, Nepal' 'Katy, Texas'
 'Kearny, New Jersey' 'Keller, Texas' 'Kennesaw, Georgia'
 'Kenosha, Wisconsin' 'Kent, Washington' 'Kingsport, Tennessee'
 'Kirkland, Washington' 'Kolkata, West Bengal, India' 'Kyle, Texas'
 'La Crescenta-Montrose, California' 'La Puente, California'
 'Lafayette, Indiana' 'Lafayette, Louisiana' 'Lagos, Nigeria'
 'Laguna Niguel, California' 'Lake Elsinore, California'
 'Lake Forest, California' 'Lake Worth, Florida' 'Lakeland, Florida'
 'Lakewood, California' 'Lancaster' "Land O' Lakes, Florida"
 'Lansdale, Pennsylvania' 'Lansing, Michigan' 'Laredo, Texas'
 'Largo, Florida' 'Las Vegas, Nevada' 'Laurel, Maryland'
 'Lawrenceville, Georgia' 'Leawood, Kansas' 'Leesburg, Virginia' 'Lenexa'
 'Lewisville, Texas' 'Lexington, South Carolina' 'Libertyville, Illinois'
 'Lilburn, Georgia' 'Lincoln, Nebraska' 'Lincoln, Rhode Island'
 'Lisle, Illinois' 'Lithonia, Georgia' 'Little Falls, New Jersey'
 'Little Rock, Arkansas' 'Littleton, Colorado' 'Livermore, California'
 'Liverpool, New York' 'Livingston, New Jersey' 'Livonia, Michigan'
 'Logan, Utah' 'Lombard, Illinois' 'London, England, United Kingdom'
 'London, Ontario, Canada' 'Long Beach, California'
 'Longmeadow, Massachusetts' 'Los Angeles, California'
 'Louisiana, Louisiana' 'Louisville, Kentucky' 'Lubbock, Texas'
 'Lutherville-Timonium, Maryland' 'Lynn, Massachusetts'
 'Lynnwood, Washington' 'Lynwood, California' 'Macomb, Michigan'
 'Macon, Georgia' 'Madison, Wisconsin' 'Magnolia, Texas' 'Malaysia'
 'Malden, Massachusetts' 'Manassas, Virginia' 'Manhattan, Kansas'
 'Manila, Metro Manila, Philippines' 'Manor, Texas' 'Mansfield, Texas'
 'Manvel, Texas' 'Maplewood, New Jersey' 'Marietta, Georgia'
 'Maryland, Maryland' 'Massachusetts, Massachusetts' 'Mauritius'
 'McAllen, Texas' 'McKinney, Texas' 'McLean, Virginia'
 'Mechanicsburg, Pennsylvania' 'Media, Pennsylvania' 'Melbourne, Florida'
 'Melbourne, Victoria, Australia' 'Memphis, Tennessee'
 'Menlo Park, California' 'Merced, California' 'Merrillville, Indiana'
 'Mesa, Arizona' 'Mesquite, Texas' 'Methuen, Massachusetts'
 'Mettupalayam, Tamil Nadu, India' 'Miami Beach, Florida' 'Miami, Florida'
 'Michigan, Michigan' 'Middletown, Delaware' 'Middletown, Maryland'
 'Middletown, New Jersey' 'Middletown, Rhode Island' 'Midland, Texas'
 'Midlothian, Texas' 'Milford, New Jersey' 'Milpitas, California'
 'Milwaukee, Wisconsin' 'Minneapolis, Minnesota'
 'Mission Viejo, California' 'Mission, British Columbia, Canada'
 'Mississauga, Ontario, Canada' 'Missoula, Montana' 'Missouri City, Texas'
 'Missouri, Missouri' 'Mobile, Alabama' 'Modesto, California'
 'Monroeville, Pennsylvania' 'Monsey, New York' 'Montclair, New Jersey'
 'Montevideo, Montevideo Department, Uruguay' 'Montreal, Quebec, Canada'
 'Mount Laurel, New Jersey' 'Mountain View, California'
 'Mumbai, Maharashtra, India' 'Murfreesboro, Tennessee' 'Muscat, Oman'
 'Mysuru, Karnataka, India' 'Nacogdoches, Texas'
 'Nairobi, Nairobi County, Kenya' 'Nampa, Idaho' 'Naperville, Illinois'
 'Naples, Campania, Italy' 'Nashville, Tennessee' 'Netherlands'
 'New Delhi, Delhi, India' 'New Hampshire, New Hampshire'
 'New Haven, Connecticut' 'New Jersey, New Jersey'
 'New Orleans, Louisiana' 'New Paltz, New York' 'New Port Richey, Florida'
 'New Rochelle, New York' 'New York, New York' 'Newark, Delaware'
 'Newark, New Jersey' 'Newnan, Georgia' 'Newport News, Virginia' 'Nigeria'
 'Nipomo, California' 'Norcross, Georgia' 'North Augusta, South Carolina'
 'North Aurora, Illinois' 'North Brunswick Township, New Jersey'
 'North Carolina, North Carolina' 'North Chicago, Illinois'
 'North Las Vegas, Nevada' 'North Richland Hills, Texas'
 'Norwalk, Connecticut' 'Norway' 'Norwich, England, United Kingdom'
 'Novato, California' 'Nutley, New Jersey' "O'Fallon, Missouri"
 'Oakland, California' 'Oberelz, Rhineland-Palatinate, Germany'
 'Ocala, Florida' 'Oklahoma City, Oklahoma' 'Omaha, Nebraska'
 'Ontario, Ontario, Canada' 'Orange Park, Florida' 'Orange, California'
 'Orlando, Florida' 'Oshkosh, Wisconsin' 'Overland Park, Kansas'
 'Owings Mills, Maryland' 'Oxford, England, United Kingdom'
 'Palatine, Illinois' 'Palm Harbor, Florida' 'Palmdale, California'
 'Palo Alto, California' 'Paris, Île-de-France, France'
 'Park Forest, Illinois' 'Parkville, Maryland' 'Parma, Ohio'
 'Parsippany-Troy Hills, New Jersey' 'Pasadena, California'
 'Pasadena, Texas' 'Paterson, New Jersey' 'Pawtucket, Rhode Island'
 'Peabody, Massachusetts' 'Pearland, Texas' 'Pennsylvania, Pennsylvania'
 'Pensacola, Florida' 'Perth, Western Australia, Australia'
 'Pflugerville, Texas' 'Philadelphia, Pennsylvania' 'Philippines'
 'Phoenix, Arizona' 'Pinckney, Michigan' 'Piscataway Township, New Jersey'
 'Pittsburgh, Pennsylvania' 'Plano, Texas' 'Plymouth, Massachusetts'
 'Plymouth, Michigan' 'Plymouth, Minnesota' 'Pomona, California'
 'Pontiac, Michigan' 'Poplar Bluff, Missouri' 'Portage, Indiana'
 'Portland, Maine' 'Portland, Oregon' 'Portsmouth, Virginia'
 'Poughkeepsie, New York' 'Poulsbo, Washington' 'Powder Springs, Georgia'
 'Providence, Rhode Island' 'Providence, Utah' 'Provo, Utah' 'Puerto Rico'
 'Pune, Maharashtra, India' 'Qatar' 'Quanzhou, Fujian, China'
 'Quincy, Massachusetts' 'Raleigh, North Carolina'
 'Rancho Cucamonga, California' 'Rancho Palos Verdes, California'
 'Randolph, Massachusetts' 'Reading, Pennsylvania' 'Redding, California'
 'Redford Charter Township, Michigan' 'Redmond, Washington'
 'Redondo Beach, California' 'Redwood City, California' 'Reno, Nevada'
 'Renton, Washington' 'Reston, Virginia' 'Richardson, Texas'
 'Richmond, Texas' 'Richmond, Virginia' 'Riverside, California'
 'Riverview, Florida' 'Roanoke, Virginia' 'Rochester, Minnesota'
 'Rochester, New York' 'Rockaway, New Jersey' 'Rockville, Maryland'
 'Rohnert Park, California' 'Rome, New York' 'Ronkonkoma, New York'
 'Roselle, Illinois' 'Roseville, California' 'Roswell, Georgia'
 'Round Rock, Texas' 'Rowlett, Texas' 'Sacramento, California'
 'Saginaw, Michigan' 'Saint Clair Shores, Michigan'
 'Saint Paul, Minnesota' 'Saint Petersburg, Florida' 'Salem, Oregon'
 'Salinas, California' 'Salt Lake City, Utah' 'San Angelo, Texas'
 'San Antonio, Texas' 'San Bernardino, California' 'San Bruno, California'
 'San Carlos, California' 'San Diego, California'
 'San Francisco, California' 'San Jose, California'
 'San Leandro, California' 'San Marino, California'
 'San Mateo, California' 'San Rafael, California' 'Sandy, Utah'
 'Sanford, Florida' 'Santa Ana, California' 'Santa Clara, California'
 'Santa Clarita, California' 'Santa Cruz, California'
 'Santa Monica, California' 'Santa Rosa, California' 'Sarasota, Florida'
 'Saratoga Springs, New York' 'Saratoga Springs, Utah'
 'Schaumburg, Illinois' 'Schertz, Texas' 'Seattle, Washington'
 'Sebastopol, California' 'Secaucus, New Jersey' 'Seminole, Florida'
 'Severn, Maryland' 'Shanghai, China' 'Sharon Hill, Pennsylvania'
 'Sharon, Massachusetts' 'Shenyang, Liaoning, China'
 'Shenzhen, Guangdong, China' 'Shreveport, Louisiana'
 'Silver Spring, Maryland' 'Simpsonville, South Carolina' 'Singapore'
 'Skippack, Pennsylvania' 'Skokie, Illinois' 'Snellville, Georgia'
 'Somerville, Massachusetts' 'South Lyon, Michigan'
 'South Pasadena, California' 'Southfield, Michigan' 'Southlake, Texas'
 'Spain' 'Spokane, Washington' 'Spring Hill, Florida' 'Spring, Texas'
 'Springfield, Massachusetts' 'Springfield, Missouri'
 'Springfield, Virginia' 'St. Louis, Missouri' 'Stamford, Connecticut'
 'Stanford, California' 'Sterling Heights, Michigan' 'Sterling, Virginia'
 'Stevens Point, Wisconsin' 'Stockton, California'
 'Stone Mountain, Georgia' 'Stony Brook, New York'
 'Stratford, Connecticut' 'Streamwood, Illinois'
 'Sudbury, Ontario, Canada' 'Sugar Land, Texas' 'Summit, New Jersey'
 'Sumter, South Carolina' 'Sunnyvale, California' 'Surprise, Arizona'
 'Suwanee, Georgia' 'Sydney, New South Wales, Australia'
 'Sylva, North Carolina' 'Syracuse, New York' 'Tacoma, Washington'
 'Tallahassee, Florida' 'Tampa, Florida' 'Tempe, Arizona'
 'Temple City, California' 'Temple Hills, Maryland' 'Tennessee, Tennessee'
 'Terre Haute, Indiana' 'Texas, Texas' 'Thiruvananthapuram, Kerala, India'
 'Thomasville, North Carolina' 'Thorntown, Indiana'
 'Thousand Oaks, California' 'Toccoa, Georgia' 'Toledo, Ohio'
 'Tomball, Texas' 'Toronto, Ontario, Canada' 'Torrance, California'
 'Towson, Maryland' 'Tracy, California' 'Trinidad and Tobago'
 'Troy, Michigan' 'Tucson, Arizona' 'Tulsa, Oklahoma'
 'Union City, Georgia' 'United Arab Emirates' 'United States'
 'Universal City, Texas' 'Upper Darby, Pennsylvania'
 'Upper Marlboro, Maryland' 'Vallejo, California'
 'Vancouver, British Columbia, Canada' 'Vandalia, Ohio' 'Vienna, Austria'
 'Virginia Beach, Virginia' 'Virginia, Virginia' 'Waco, Texas'
 'Waipahu, Hawaii' 'Waldorf, Maryland' 'Walnut Creek, California'
 'Warner Robins, Georgia' 'Washington' 'Washington, Washington'
 'Washougal, Washington' 'Waterford Township, Michigan'
 'Waterford, Connecticut' 'Wayne, New Jersey' 'Wayne, Pennsylvania'
 'Wellington, New Zealand' 'Wesley Chapel, Florida'
 'West Chester, Pennsylvania' 'West Covina, California'
 'West Linn, Oregon' 'West Orange, New Jersey' 'West Palm Beach, Florida'
 'Westborough, Massachusetts' 'Westfield, Indiana'
 'Westfield, Massachusetts' 'Westland, Michigan' 'Westminster, California'
 'Weston, Florida' 'White Plains, New York' 'Whittier, California'
 'Wichita, Kansas' 'Wiesbaden, Hesse, Germany' 'Williston Park, New York'
 'Wilmington, Delaware' 'Wilmington, North Carolina' 'Wilmington, Vermont'
 'Windsor, Ontario, Canada' 'Winnipeg, Manitoba, Canada'
 'Winston-Salem, North Carolina' 'Winter Park, Florida'
 'Wisconsin Rapids, Wisconsin' 'Woodbridge Township, New Jersey'
 'Woodbridge, Virginia' 'Woodinville, Washington' 'Woodstock, Georgia'
 'Woonsocket, Rhode Island' 'Worcester, Massachusetts'
 'Wuxi, Jiangsu, China' 'Yonkers, New York' 'Yorba Linda, California'
 'York, Pennsylvania' 'Ypsilanti, Michigan' 'nan']
784

Students and professionals are in the same 784 locations

What industry are the professionals in?

In [17]:
df.professionals_industry.value_counts().head()
## messed up the merging or double-counted

Information Technology and Services    3699
Telecommunications                     3578
Mental Health Care                     1988
Computer Software                      1877
Higher Education                       1514
Name: professionals_industry, dtype: int64

In [19]:
pro = pd.read_csv('../professionals.csv')
pro.professionals_industry.value_counts().head()

Telecommunications                     3166
Information Technology and Services    2109
Computer Software                      1272
Hospital and Health Care                862
Higher Education                        800
Name: professionals_industry, dtype: int64