In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import nltk
from html.parser import HTMLParser

In [2]:
prof = pd.read_csv("../professionals.csv")
answ = pd.read_csv("../answers.csv")
stud = pd.read_csv("../students.csv")
ques = pd.read_csv("../questions.csv")
emai = pd.read_csv("../emails.csv")
matc = pd.read_csv("../matches.csv")
tagq = pd.read_csv("../tag_questions.csv")
taqu = pd.read_csv("../tag_users.csv")

Where professionals and students are from (locations and number). Which locations have both professionals and students.

In [3]:
print(prof.professionals_location.value_counts().head(10))
print("\n")
print(stud.students_location.value_counts().head(10))

p_loc = np.array(prof['professionals_location'].values.tolist())
s_loc = np.array(stud['students_location'].values.tolist())

i = np.intersect1d(p_loc,s_loc)
print("\nThese are the locations with both professionals and students: {}".format(i))
print("\nIn total, there are {} locations with both professional and students".format(i.size))

New York, New York            1337
California, California         864
Greater New York City Area     745
Boston, Massachusetts          714
Los Angeles, California        617
Atlanta, Georgia               578
Chicago, Illinois              576
Austin, Texas                  574
Houston, Texas                 556
San Francisco Bay Area         513
Name: professionals_location, dtype: int64


New York, New York             1313
Bengaluru, Karnataka, India     890
Los Angeles, California         663
Hyderabad, Telangana, India     597
Boston, Massachusetts           557
San Francisco, California       550
San Jose, California            548
Houston, Texas                  476
Chennai, Tamil Nadu, India      437
Chicago, Illinois               344
Name: students_location, dtype: int64

These are the locations with both professionals and students: ['Abilene, Texas' 'Abu Dhabi, United Arab Emirates' 'Abuja, FCT, Nigeria'
 ... 'York, Pennsylvania' 'Ypsilanti, Michigan' 'nan']

In total, there are 1381 locations with both professional and students

Which industries are most of these professionals in?

In [4]:
prof.professionals_industry.value_counts().head(10)

Telecommunications                     3166
Information Technology and Services    2109
Computer Software                      1272
Hospital and Health Care                862
Higher Education                        800
Accounting                              781
Financial Services                      639
Education Management                    593
Marketing and Advertising               526
Internet                                427
Name: professionals_industry, dtype: int64

What are key words (NN) from students' questions? First strip html tags from answers and questions and access the nouns using nltk.tag_pos() and nltk.word_tokenizer()

Here we can then plot all the different NN* to see what words are "big" in students' questions.

In [ ]:
## This class strips all HTML encoding in the responses 
## It takes in a string and returns an HTML-free string
## Usage: strip_tags(df.text_body.iloc[i]) for i in range(0:df.size)

class MLStripper(HTMLParser):
    def __init__(self):
        super().__init__()
        self.reset()
        self.fed = []
    def handle_data(self, d):
        self.fed.append(d)
    def get_data(self):
        return ''.join(self.fed)
    
def strip_tags(html):
    s = MLStripper()
    s.feed(html)
    return s.get_data()

In [12]:
a = (answ.answers_body.iloc[1])


a = strip_tags(a)


### tokenize the answers and then classify parts of speech. Keep words that are NN
### Make a dictionary to update the frequency of these individual words across all words. 
b = (nltk.pos_tag(nltk.word_tokenize(a)))

b[1:10]

[('.', '.'),
 ('I', 'PRP'),
 ('joined', 'VBD'),
 ('the', 'DT'),
 ('Army', 'NNP'),
 ('after', 'IN'),
 ('I', 'PRP'),
 ('attended', 'VBD'),
 ('college', 'NN')]