In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import re

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
import spacy
from nltk.corpus import stopwords 
from nltk.tokenize import RegexpTokenizer

from html.parser import HTMLParser

In [14]:
data = pd.read_csv("final_merged_data.csv")

In [17]:
## Grab a corpus of text as a numpy array instead of series
text = data.questions_body.values.astype('U')
text

array(['sophomore anesthesiologist steps order anesthesiologist fun doctor experience anesthesiologist ',
       'sophomore jobs field nurse fun day years schooling medicine babies ',
       'sophomore jobs field nurse fun day years schooling medicine babies ',
       ..., 'collage singer collage singer ',
       'mcat semester study time time-management ',
       'auto careers mechanics '], dtype='<U3906')

In [15]:
token = RegexpTokenizer(r'[a-z]+')
cv = CountVectorizer(lowercase=True,stop_words='english',ngram_range = (1,1),tokenizer = token.tokenize)
text_counts = cv.fit_transform(text)
text_counts = text_counts.toarray()
vocab = cv.get_feature_names()
text_counts = pd.DataFrame(text_counts, columns=vocab)
text_counts.sample(3)

,aa,aaa,aadsas,aand,aant,aauw,ab,aba,abc,abduction,...,zip,zombie,zone,zoo,zookeeper,zookeepers,zoologist,zoology,zoos,zymeria
15693,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22544,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13915,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
tv = TfidfVectorizer(min_df=0., max_df=1., use_idf=True)
tv_matrix = tv.fit_transform(text)
tv_matrix = tv_matrix.toarray()
vocab = tv.get_feature_names()
tfDF = pd.DataFrame(np.round(tv_matrix, 2), columns=vocab)
tfDF.sample(4)

,12,12629,12education,12th,14,16,1872,22,23,24,...,zombie,zone,zoo,zookeeper,zookeepers,zoologist,zoology,zoos,zymeria,áreas
43300,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12681,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6155,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11616,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0