Start with merging the data sets together. Really basic merging of professionals, students, answers, questions. Don't care about date/time that much.

In [4]:
import pandas as pd
answers = pd.read_csv('../answers.csv')
pro = pd.read_csv('../professionals.csv')
merged = pd.merge(pro, answers, left_on='professionals_id', right_on='answers_author_id')
merged.head()

,professionals_id,professionals_location,professionals_industry,professionals_headline,professionals_date_joined,answers_id,answers_author_id,answers_question_id,answers_date_added,answers_body
0,9ced4ce7519049c0944147afb75a8ce3,NaN,NaN,NaN,2011-10-05 20:35:19 UTC+0000,7640a6e5d5224c8681cc58de860858f4,9ced4ce7519049c0944147afb75a8ce3,f6b9ca94aed04ba28256492708e74f60,2011-10-05 20:42:09 UTC+0000,<p>Basically three things: </p>\n<ol>\n<li>Big...
1,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,2011-10-18 17:31:26 UTC+0000,f18d7fca363d4b21a81e6683c5a86b96,0c673e046d824ec0ad0ebe012a0673e4,e214acfbe6644d65b889a3268828db9d,2012-10-01 04:35:42 UTC+0000,"<html><head></head><body><p>Hi Deja,</p>\n<p>K..."
2,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,2011-10-18 17:31:26 UTC+0000,5d670d5f8700402ab56bae609b06d02d,0c673e046d824ec0ad0ebe012a0673e4,9d211b99e17c46fbbaca03dc6b43f1c4,2012-10-01 04:55:03 UTC+0000,<html><head></head><body><p>It looks like this...
3,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,2011-10-18 17:31:26 UTC+0000,6d823a750e294c75b10fafbbbaf19855,0c673e046d824ec0ad0ebe012a0673e4,e978b437413048c183e3cb556f90a878,2012-02-13 16:44:10 UTC+0000,<p><em>[Posted on behalf of a CareerVillage Pr...
4,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,2011-10-18 17:31:26 UTC+0000,63b7a06323ee4d578a37cf780debfa58,0c673e046d824ec0ad0ebe012a0673e4,2f2378acab3f444199ee2b69d2d3626f,2012-09-09 13:36:44 UTC+0000,"<p>Yes, early in your career, employers certai..."

In [5]:
students = pd.read_csv('../students.csv')
questions = pd.read_csv('../questions.csv')
merged2 = pd.merge(students, questions, left_on='students_id', right_on='questions_author_id')
merged2.head()

,students_id,students_location,students_date_joined,questions_id,questions_author_id,questions_date_added,questions_title,questions_body
0,12a89e96755a4dba83ff03e03043d9c0,NaN,2011-12-16 14:19:24 UTC+0000,057e9dcc3c7e4b93825170808839e08a,12a89e96755a4dba83ff03e03043d9c0,2011-12-16 14:26:31 UTC+0000,What do magazine editors do?,I like popular mechanics and I'd love to work ...
1,5bdd2eb44dd944a9a7ab9aba068d1ef2,NaN,2012-01-01 05:00:00 UTC+0000,e478483c7bcf4687b1acef20453e50a9,5bdd2eb44dd944a9a7ab9aba068d1ef2,2012-04-16 01:48:26 UTC+0000,MSW vs MPH?,'m interested in earning my MSW because I woul...
2,9658267bc2564a85bad1e802de5fb597,"Wayne, Pennsylvania",2012-01-01 05:00:00 UTC+0000,c177a08b702d4f2a8f9f77ebaf023ebe,9658267bc2564a85bad1e802de5fb597,2012-01-13 03:33:53 UTC+0000,What are the skills required to succeed in the...,I am not sure which specific public sector I w...
3,7b1900c458e34573bfeb0d57ffbd260a,NaN,2012-01-01 05:00:00 UTC+0000,95b06f6b474d4335bcd5e15396f117bc,7b1900c458e34573bfeb0d57ffbd260a,2012-01-09 07:34:16 UTC+0000,What are good schools for a Masters in Educati...,"I have already googled this, but my search has..."
4,e9efc4d6e06e49c7ae5afe1aad8c5bd5,NaN,2012-01-01 05:00:00 UTC+0000,1b12367c556346c4a053de4e5ab0f6fa,e9efc4d6e06e49c7ae5afe1aad8c5bd5,2012-01-26 17:03:01 UTC+0000,Doctor Experiences,What is the best and worst part of being a med...

In [6]:
final_merged = pd.merge(merged, merged2, left_on='answers_question_id', right_on='questions_id')
final_merged.head()

,professionals_id,professionals_location,professionals_industry,professionals_headline,professionals_date_joined,answers_id,answers_author_id,answers_question_id,answers_date_added,answers_body,students_id,students_location,students_date_joined,questions_id,questions_author_id,questions_date_added,questions_title,questions_body
0,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,2011-10-18 17:31:26 UTC+0000,f18d7fca363d4b21a81e6683c5a86b96,0c673e046d824ec0ad0ebe012a0673e4,e214acfbe6644d65b889a3268828db9d,2012-10-01 04:35:42 UTC+0000,"<html><head></head><body><p>Hi Deja,</p>\n<p>K...",16908136951a48ed942738822cedd5c2,"Palm Harbor, Florida",2012-01-04 05:00:00 UTC+0000,e214acfbe6644d65b889a3268828db9d,16908136951a48ed942738822cedd5c2,2012-09-09 05:33:25 UTC+0000,what does it take to be an anesthesiologist?,I am a sophomore who is interested in learning...
1,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,2011-10-18 17:31:26 UTC+0000,5d670d5f8700402ab56bae609b06d02d,0c673e046d824ec0ad0ebe012a0673e4,9d211b99e17c46fbbaca03dc6b43f1c4,2012-10-01 04:55:03 UTC+0000,<html><head></head><body><p>It looks like this...,16908136951a48ed942738822cedd5c2,"Palm Harbor, Florida",2012-01-04 05:00:00 UTC+0000,9d211b99e17c46fbbaca03dc6b43f1c4,16908136951a48ed942738822cedd5c2,2012-09-09 00:43:18 UTC+0000,what are some of the ups and downs of being a ...,I am a sophomore who is interested in learning...
2,13b55ed4834e4814bb33a4c87001063d,"Memphis, Tennessee",Hospital & Health Care,NICU Nurse Manager at Baptist Memorial Hospita...,2013-08-02 17:25:26 UTC+0000,1265c6484d5c476ca60c1bed13ea5cd6,13b55ed4834e4814bb33a4c87001063d,9d211b99e17c46fbbaca03dc6b43f1c4,2013-08-05 14:44:17 UTC+0000,<p>Being a neonatal nurse is very rewarding an...,16908136951a48ed942738822cedd5c2,"Palm Harbor, Florida",2012-01-04 05:00:00 UTC+0000,9d211b99e17c46fbbaca03dc6b43f1c4,16908136951a48ed942738822cedd5c2,2012-09-09 00:43:18 UTC+0000,what are some of the ups and downs of being a ...,I am a sophomore who is interested in learning...
3,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,2011-10-18 17:31:26 UTC+0000,6d823a750e294c75b10fafbbbaf19855,0c673e046d824ec0ad0ebe012a0673e4,e978b437413048c183e3cb556f90a878,2012-02-13 16:44:10 UTC+0000,<p><em>[Posted on behalf of a CareerVillage Pr...,177f482adc1a449284471f7c556ee8f0,United States,2012-01-04 05:00:00 UTC+0000,e978b437413048c183e3cb556f90a878,177f482adc1a449284471f7c556ee8f0,2012-02-13 13:45:52 UTC+0000,What do I have to do to become an investor?,<p>I would like to invest in other companies w...
4,a8d48ad29465479bbeb7f19ee3b77d1a,"Bengaluru, Karnataka, India",Information Technology and Services,Escalation Specialist at Dell,2016-07-14 20:42:39 UTC+0000,63be2c32d84c4e74bf34c6e5cce16e47,a8d48ad29465479bbeb7f19ee3b77d1a,e978b437413048c183e3cb556f90a878,2016-07-14 21:16:57 UTC+0000,<p>Understand the Market\nAnalyze Your Finance...,177f482adc1a449284471f7c556ee8f0,United States,2012-01-04 05:00:00 UTC+0000,e978b437413048c183e3cb556f90a878,177f482adc1a449284471f7c556ee8f0,2012-02-13 13:45:52 UTC+0000,What do I have to do to become an investor?,<p>I would like to invest in other companies w...

In [7]:
c = ['professionals_id', 'professionals_location', 'professionals_industry', 'professionals_headline', 'answers_id', 'answers_body', 'students_id', 'students_location', 'questions_id', 'questions_title', 'questions_body']
final = final_merged[c]
final.head()

,professionals_id,professionals_location,professionals_industry,professionals_headline,answers_id,answers_body,students_id,students_location,questions_id,questions_title,questions_body
0,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,f18d7fca363d4b21a81e6683c5a86b96,"<html><head></head><body><p>Hi Deja,</p>\n<p>K...",16908136951a48ed942738822cedd5c2,"Palm Harbor, Florida",e214acfbe6644d65b889a3268828db9d,what does it take to be an anesthesiologist?,I am a sophomore who is interested in learning...
1,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,5d670d5f8700402ab56bae609b06d02d,<html><head></head><body><p>It looks like this...,16908136951a48ed942738822cedd5c2,"Palm Harbor, Florida",9d211b99e17c46fbbaca03dc6b43f1c4,what are some of the ups and downs of being a ...,I am a sophomore who is interested in learning...
2,13b55ed4834e4814bb33a4c87001063d,"Memphis, Tennessee",Hospital & Health Care,NICU Nurse Manager at Baptist Memorial Hospita...,1265c6484d5c476ca60c1bed13ea5cd6,<p>Being a neonatal nurse is very rewarding an...,16908136951a48ed942738822cedd5c2,"Palm Harbor, Florida",9d211b99e17c46fbbaca03dc6b43f1c4,what are some of the ups and downs of being a ...,I am a sophomore who is interested in learning...
3,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,6d823a750e294c75b10fafbbbaf19855,<p><em>[Posted on behalf of a CareerVillage Pr...,177f482adc1a449284471f7c556ee8f0,United States,e978b437413048c183e3cb556f90a878,What do I have to do to become an investor?,<p>I would like to invest in other companies w...
4,a8d48ad29465479bbeb7f19ee3b77d1a,"Bengaluru, Karnataka, India",Information Technology and Services,Escalation Specialist at Dell,63be2c32d84c4e74bf34c6e5cce16e47,<p>Understand the Market\nAnalyze Your Finance...,177f482adc1a449284471f7c556ee8f0,United States,e978b437413048c183e3cb556f90a878,What do I have to do to become an investor?,<p>I would like to invest in other companies w...

We can get more data into the final data frame (upvoted answers for usefulness, users' tags/fields) but let's start with this for now

In [9]:
final.to_csv('cv_final.csv')