In [7]:
import nltk
import pandas as pd
#df = pd.read_csv('/Users/alisonn/Downloads/data-science-for-good-careervillage/answers.csv')
df = pd.read_csv('/Users/alisonn/Downloads/data-science-for-good-careervillage/matches.csv')
df.head()

   matches_email_id               matches_question_id
0           1721939  332a511f1569444485cf7a7a556a5e54
1           1665388  332a511f1569444485cf7a7a556a5e54
2           1636634  332a511f1569444485cf7a7a556a5e54
3           1635498  332a511f1569444485cf7a7a556a5e54
4           1620298  332a511f1569444485cf7a7a556a5e54

In [10]:
#email = pd.read_csv('/Users/alisonn/Downloads/data-science-for-good-careervillage/emails.csv')
#email.head()

In [15]:
questions = pd.read_csv('/Users/alisonn/Downloads/data-science-for-good-careervillage/questions.csv')
questions.describe()

,questions_id,questions_author_id,questions_date_added,questions_title,questions_body
count,23931,23931,23931,23931,23931
unique,23931,12329,23869,23739,23681
top,541cb67dd6004f6bb497fd3e628c3a51,2fe767de78fa4dfd83f0021cf7712064,2016-10-22 20:21:17 UTC+0000,How do I become an IAS officer?,Accounting student at Towson university #acco...
freq,1,93,2,6,16