Start with merging the data sets together. Really basic merging of professionals, students, answers, questions. Don't care about date/time that much.

In [1]:
import pandas as pd

In [2]:
answers = pd.read_csv('../answers.csv')
pro = pd.read_csv('../professionals.csv')
merged = pd.merge(pro, answers, left_on='professionals_id', right_on='answers_author_id', how='inner')
merged.head(4)

,professionals_id,professionals_location,professionals_industry,professionals_headline,professionals_date_joined,answers_id,answers_author_id,answers_question_id,answers_date_added,answers_body
0,9ced4ce7519049c0944147afb75a8ce3,NaN,NaN,NaN,2011-10-05 20:35:19 UTC+0000,7640a6e5d5224c8681cc58de860858f4,9ced4ce7519049c0944147afb75a8ce3,f6b9ca94aed04ba28256492708e74f60,2011-10-05 20:42:09 UTC+0000,<p>Basically three things: </p>\n<ol>\n<li>Big...
1,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,2011-10-18 17:31:26 UTC+0000,f18d7fca363d4b21a81e6683c5a86b96,0c673e046d824ec0ad0ebe012a0673e4,e214acfbe6644d65b889a3268828db9d,2012-10-01 04:35:42 UTC+0000,"<html><head></head><body><p>Hi Deja,</p>\n<p>K..."
2,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,2011-10-18 17:31:26 UTC+0000,5d670d5f8700402ab56bae609b06d02d,0c673e046d824ec0ad0ebe012a0673e4,9d211b99e17c46fbbaca03dc6b43f1c4,2012-10-01 04:55:03 UTC+0000,<html><head></head><body><p>It looks like this...
3,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,2011-10-18 17:31:26 UTC+0000,6d823a750e294c75b10fafbbbaf19855,0c673e046d824ec0ad0ebe012a0673e4,e978b437413048c183e3cb556f90a878,2012-02-13 16:44:10 UTC+0000,<p><em>[Posted on behalf of a CareerVillage Pr...

In [3]:
print(pro.shape)
print(pro.drop_duplicates().shape)
print(merged.shape)

(28152, 5)
(28152, 5)
(50106, 10)

In [4]:
students = pd.read_csv('../students.csv')
questions = pd.read_csv('../questions.csv')
merged2 = pd.merge(students, questions, left_on='students_id', right_on='questions_author_id')
merged2.head()

,students_id,students_location,students_date_joined,questions_id,questions_author_id,questions_date_added,questions_title,questions_body
0,12a89e96755a4dba83ff03e03043d9c0,NaN,2011-12-16 14:19:24 UTC+0000,057e9dcc3c7e4b93825170808839e08a,12a89e96755a4dba83ff03e03043d9c0,2011-12-16 14:26:31 UTC+0000,What do magazine editors do?,I like popular mechanics and I'd love to work ...
1,5bdd2eb44dd944a9a7ab9aba068d1ef2,NaN,2012-01-01 05:00:00 UTC+0000,e478483c7bcf4687b1acef20453e50a9,5bdd2eb44dd944a9a7ab9aba068d1ef2,2012-04-16 01:48:26 UTC+0000,MSW vs MPH?,'m interested in earning my MSW because I woul...
2,9658267bc2564a85bad1e802de5fb597,"Wayne, Pennsylvania",2012-01-01 05:00:00 UTC+0000,c177a08b702d4f2a8f9f77ebaf023ebe,9658267bc2564a85bad1e802de5fb597,2012-01-13 03:33:53 UTC+0000,What are the skills required to succeed in the...,I am not sure which specific public sector I w...
3,7b1900c458e34573bfeb0d57ffbd260a,NaN,2012-01-01 05:00:00 UTC+0000,95b06f6b474d4335bcd5e15396f117bc,7b1900c458e34573bfeb0d57ffbd260a,2012-01-09 07:34:16 UTC+0000,What are good schools for a Masters in Educati...,"I have already googled this, but my search has..."
4,e9efc4d6e06e49c7ae5afe1aad8c5bd5,NaN,2012-01-01 05:00:00 UTC+0000,1b12367c556346c4a053de4e5ab0f6fa,e9efc4d6e06e49c7ae5afe1aad8c5bd5,2012-01-26 17:03:01 UTC+0000,Doctor Experiences,What is the best and worst part of being a med...

In [5]:
final_merged = pd.merge(merged, merged2, left_on='answers_question_id', right_on='questions_id')
final_merged.head()

,professionals_id,professionals_location,professionals_industry,professionals_headline,professionals_date_joined,answers_id,answers_author_id,answers_question_id,answers_date_added,answers_body,students_id,students_location,students_date_joined,questions_id,questions_author_id,questions_date_added,questions_title,questions_body
0,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,2011-10-18 17:31:26 UTC+0000,f18d7fca363d4b21a81e6683c5a86b96,0c673e046d824ec0ad0ebe012a0673e4,e214acfbe6644d65b889a3268828db9d,2012-10-01 04:35:42 UTC+0000,"<html><head></head><body><p>Hi Deja,</p>\n<p>K...",16908136951a48ed942738822cedd5c2,"Palm Harbor, Florida",2012-01-04 05:00:00 UTC+0000,e214acfbe6644d65b889a3268828db9d,16908136951a48ed942738822cedd5c2,2012-09-09 05:33:25 UTC+0000,what does it take to be an anesthesiologist?,I am a sophomore who is interested in learning...
1,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,2011-10-18 17:31:26 UTC+0000,5d670d5f8700402ab56bae609b06d02d,0c673e046d824ec0ad0ebe012a0673e4,9d211b99e17c46fbbaca03dc6b43f1c4,2012-10-01 04:55:03 UTC+0000,<html><head></head><body><p>It looks like this...,16908136951a48ed942738822cedd5c2,"Palm Harbor, Florida",2012-01-04 05:00:00 UTC+0000,9d211b99e17c46fbbaca03dc6b43f1c4,16908136951a48ed942738822cedd5c2,2012-09-09 00:43:18 UTC+0000,what are some of the ups and downs of being a ...,I am a sophomore who is interested in learning...
2,13b55ed4834e4814bb33a4c87001063d,"Memphis, Tennessee",Hospital & Health Care,NICU Nurse Manager at Baptist Memorial Hospita...,2013-08-02 17:25:26 UTC+0000,1265c6484d5c476ca60c1bed13ea5cd6,13b55ed4834e4814bb33a4c87001063d,9d211b99e17c46fbbaca03dc6b43f1c4,2013-08-05 14:44:17 UTC+0000,<p>Being a neonatal nurse is very rewarding an...,16908136951a48ed942738822cedd5c2,"Palm Harbor, Florida",2012-01-04 05:00:00 UTC+0000,9d211b99e17c46fbbaca03dc6b43f1c4,16908136951a48ed942738822cedd5c2,2012-09-09 00:43:18 UTC+0000,what are some of the ups and downs of being a ...,I am a sophomore who is interested in learning...
3,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,2011-10-18 17:31:26 UTC+0000,6d823a750e294c75b10fafbbbaf19855,0c673e046d824ec0ad0ebe012a0673e4,e978b437413048c183e3cb556f90a878,2012-02-13 16:44:10 UTC+0000,<p><em>[Posted on behalf of a CareerVillage Pr...,177f482adc1a449284471f7c556ee8f0,United States,2012-01-04 05:00:00 UTC+0000,e978b437413048c183e3cb556f90a878,177f482adc1a449284471f7c556ee8f0,2012-02-13 13:45:52 UTC+0000,What do I have to do to become an investor?,<p>I would like to invest in other companies w...
4,a8d48ad29465479bbeb7f19ee3b77d1a,"Bengaluru, Karnataka, India",Information Technology and Services,Escalation Specialist at Dell,2016-07-14 20:42:39 UTC+0000,63be2c32d84c4e74bf34c6e5cce16e47,a8d48ad29465479bbeb7f19ee3b77d1a,e978b437413048c183e3cb556f90a878,2016-07-14 21:16:57 UTC+0000,<p>Understand the Market\nAnalyze Your Finance...,177f482adc1a449284471f7c556ee8f0,United States,2012-01-04 05:00:00 UTC+0000,e978b437413048c183e3cb556f90a878,177f482adc1a449284471f7c556ee8f0,2012-02-13 13:45:52 UTC+0000,What do I have to do to become an investor?,<p>I would like to invest in other companies w...

In [6]:
c = ['professionals_id', 'professionals_location', 'professionals_industry', 'professionals_headline', 'answers_id', 'answers_body', 'students_id', 'students_location', 'questions_id', 'questions_title', 'questions_body']
final = final_merged[c]
final.head()

,professionals_id,professionals_location,professionals_industry,professionals_headline,answers_id,answers_body,students_id,students_location,questions_id,questions_title,questions_body
0,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,f18d7fca363d4b21a81e6683c5a86b96,"<html><head></head><body><p>Hi Deja,</p>\n<p>K...",16908136951a48ed942738822cedd5c2,"Palm Harbor, Florida",e214acfbe6644d65b889a3268828db9d,what does it take to be an anesthesiologist?,I am a sophomore who is interested in learning...
1,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,5d670d5f8700402ab56bae609b06d02d,<html><head></head><body><p>It looks like this...,16908136951a48ed942738822cedd5c2,"Palm Harbor, Florida",9d211b99e17c46fbbaca03dc6b43f1c4,what are some of the ups and downs of being a ...,I am a sophomore who is interested in learning...
2,13b55ed4834e4814bb33a4c87001063d,"Memphis, Tennessee",Hospital & Health Care,NICU Nurse Manager at Baptist Memorial Hospita...,1265c6484d5c476ca60c1bed13ea5cd6,<p>Being a neonatal nurse is very rewarding an...,16908136951a48ed942738822cedd5c2,"Palm Harbor, Florida",9d211b99e17c46fbbaca03dc6b43f1c4,what are some of the ups and downs of being a ...,I am a sophomore who is interested in learning...
3,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,6d823a750e294c75b10fafbbbaf19855,<p><em>[Posted on behalf of a CareerVillage Pr...,177f482adc1a449284471f7c556ee8f0,United States,e978b437413048c183e3cb556f90a878,What do I have to do to become an investor?,<p>I would like to invest in other companies w...
4,a8d48ad29465479bbeb7f19ee3b77d1a,"Bengaluru, Karnataka, India",Information Technology and Services,Escalation Specialist at Dell,63be2c32d84c4e74bf34c6e5cce16e47,<p>Understand the Market\nAnalyze Your Finance...,177f482adc1a449284471f7c556ee8f0,United States,e978b437413048c183e3cb556f90a878,What do I have to do to become an investor?,<p>I would like to invest in other companies w...

We can get more data into the final data frame (upvoted answers for usefulness, users' tags/fields) but let's start with this for now

In [7]:
final.to_csv('cv_final.csv')

Let's look at professional and student tags (Shared)

In [27]:
tags = pd.read_csv("../tags.csv")
user_tags = pd.read_csv("../tag_users.csv")
print(user_tags.head(10))
print(tags.head(10))

   tag_users_tag_id                 tag_users_user_id
0               593  c72ab38e073246e88da7e9a4ec7a4472
1              1642  8db519781ec24f2e8bdc67c2ac53f614
2               638  042d2184ee3e4e548fc3589baaa69caf
3             11093  c660bd0dc1b34224be78a58aa5a84a63
4             21539  8ce1dca4e94240239e4385ed22ef43ce
5              1047  3330f8a7835346a2a91f9393ae21efee
6                64  5a4a16842ec64430ac3f916aacf35fe1
7              1139  461f92b955924604832a92b6bc14ac1d
8                55  7daf1e6dfb3443b99b240890f0a4d69b
9                54  7daf1e6dfb3443b99b240890f0a4d69b
   tags_tag_id      tags_tag_name
0        27490            college
1          461   computer-science
2          593  computer-software
3        27292           business
4        18217             doctor
5           54        engineering
6          129             career
7           89           medicine
8           53            science
9           55           engineer

In [28]:
print("Number of tags: {}".format(user_tags.shape[0])) ## total number of tags
print("Number of professionals: {}".format(pro.shape[0])) ## total number of professionals
print("Number of students: {}".format(students.shape[0])) ## total number of students
print("Number of professionals and students using tags: {}".format(user_tags.tag_users_user_id.unique().shape[0])) ## number of professionals AND students who use tags

Number of tags: 136663
Number of professionals: 28152
Number of students: 30971
Number of professionals and students using tags: 30202

In [34]:
updated_user_tags = pd.merge(user_tags, tags, left_on = 'tag_users_tag_id', right_on = 'tags_tag_id')
keep_col = ['tag_users_user_id','tags_tag_name', 'tags_tag_id']
updated_user_tags = updated_user_tags[keep_col]
print(updated_user_tags.head(15))
print(updated_user_tags.shape)
print(user_tags.shape) ## cool nothing got deleted after the merger!

                   tag_users_user_id      tags_tag_name  tags_tag_id
0   c72ab38e073246e88da7e9a4ec7a4472  computer-software          593
1   8db519781ec24f2e8bdc67c2ac53f614  computer-software          593
2   9ab6b54d55b24299a4795584508db4ff  computer-software          593
3   e327399c48584fcf81e433828a6d8715  computer-software          593
4   92494d9dc2124507972c5306badc6727  computer-software          593
5   c27ee09eaf6c4716ba89b8467a36fcca  computer-software          593
6   3883177fa8464945af3bb43241df0f58  computer-software          593
7   c72ab38e073246e88da7e9a4ec7a4472  computer-software          593
8   207c8c62bcaa4033885a24a8a5a10d51  computer-software          593
9   c72ab38e073246e88da7e9a4ec7a4472  computer-software          593
10  c72ab38e073246e88da7e9a4ec7a4472  computer-software          593
11  c72ab38e073246e88da7e9a4ec7a4472  computer-software          593
12  79e5b26f7e10490ca3fbe350d6e6f45b  computer-software          593
13  34df5c19a4044e9791978f8ed867a350  computer-software          593
14  c72ab38e073246e88da7e9a4ec7a4472  computer-software          593
(136663, 3)
(136663, 2)

In [37]:
## merge professionals who responded to questions with their tags
pros_with_tags = pd.merge(updated_user_tags, merged, left_on = "tag_users_user_id", right_on = "professionals_id")
studs_with_tags = pd.merge(updated_user_tags, merged2, left_on = "tag_users_user_id", right_on = "students_id")

In [40]:
pros_with_tags.sample(5)

,tag_users_user_id,tags_tag_name,tags_tag_id,professionals_id,professionals_location,professionals_industry,professionals_headline,professionals_date_joined,answers_id,answers_author_id,answers_question_id,answers_date_added,answers_body
261638,599bc0b1115543bf9cf404cd6c19d291,information-technology-and-services,28970,599bc0b1115543bf9cf404cd6c19d291,"Warsaw, Masovian District, Poland",Information Technology and Services,at Dell,2017-12-20 09:31:01 UTC+0000,8c61b6d90cb1432ea157b064018d712f,599bc0b1115543bf9cf404cd6c19d291,73e5b1bee95e4ab4baceb36f2fc45d00,2017-12-20 10:30:51 UTC+0000,"There is plenty of different Top 10, 15, 50 sk..."
206890,be5d23056fcb4f1287c823beec5291e1,litigation-support,20446,be5d23056fcb4f1287c823beec5291e1,"San Antonio, Texas",Legal Services,Employment Counselor | Open Records Specialist,2016-01-21 03:23:22 UTC+0000,e67b2648f32a4028b5037094651dc483,be5d23056fcb4f1287c823beec5291e1,f80431a80d344c838bafd0754ad4c4c3,2018-01-14 04:41:13 UTC+0000,"Rachel,\n\nHi! I am a long way from Massachuse..."
383740,a84d5899689c49eaaae28ffe0ff9ec69,americorps,30043,a84d5899689c49eaaae28ffe0ff9ec69,"Portland, Oregon",Non-profit Organization Management,Homeowner Support Coordinator/IDA Program Spec...,2019-01-20 05:15:51 UTC+0000,28e78147bef440beb843c5e2c7915da1,a84d5899689c49eaaae28ffe0ff9ec69,0266e3ed523949519b2ffe637b055f43,2019-01-20 05:54:55 UTC+0000,<p>I have a B.S. in Human Development and Fami...
190507,8c1ed7125e6840bd935fd317dd9fb219,career-development,19804,8c1ed7125e6840bd935fd317dd9fb219,"Saint Paul, Minnesota",Financial Services,Sales Intern at Arrow Electronics,2017-05-26 18:03:33 UTC+0000,6c6c423e58f548a78268402f5aadef6b,8c1ed7125e6840bd935fd317dd9fb219,083350649d794dd0b251efa45cdeaef6,2017-05-26 18:50:14 UTC+0000,"<p>To be an entrepreneur, you will have to wor..."
338759,05ab77d4c6a141b999044ebbf5415b0d,poetry,18250,05ab77d4c6a141b999044ebbf5415b0d,Greater New York City Area,Education Management,"AmeriCorps Urban Education Fellow, TutorCorps",2018-01-31 21:47:21 UTC+0000,677b8ed31f9d492a872a9e13c0ab9b34,05ab77d4c6a141b999044ebbf5415b0d,90158e5f27634b22b6a47aa11022823c,2018-04-04 12:07:41 UTC+0000,"<p>&lt;span style=""background-color: transpare..."

In [41]:
studs_with_tags.sample(5)

,tag_users_user_id,tags_tag_name,tags_tag_id,students_id,students_location,students_date_joined,questions_id,questions_author_id,questions_date_added,questions_title,questions_body
27481,dd3fe8a029dd49e9b59ae3f5f57198bc,forensic,18221,dd3fe8a029dd49e9b59ae3f5f57198bc,"Pueblo, Colorado",2016-05-08 01:39:46 UTC+0000,2580ff60fc3e479999087c8518b1fb7e,dd3fe8a029dd49e9b59ae3f5f57198bc,2016-08-02 20:36:56 UTC+0000,What is a forensic psychologist?,"I've been trying to look it up, but basically ..."
45377,d3dedfb118014b0186719f6992c3aa2f,mba,18364,d3dedfb118014b0186719f6992c3aa2f,"Mount Pleasant, South Carolina",2016-05-11 18:12:01 UTC+0000,68091da92da44158ab0c08a6c46d22ca,d3dedfb118014b0186719f6992c3aa2f,2016-05-11 18:29:17 UTC+0000,How much money on average does a Operations an...,"<p>I am a Junior in high school, and I love bu..."
813,b1e7bc0aaf204a498954922e51bbd95e,computer-software,593,b1e7bc0aaf204a498954922e51bbd95e,Washington,2016-05-18 17:26:52 UTC+0000,b54d7ba2f7654f799e3a7fa622e8623d,b1e7bc0aaf204a498954922e51bbd95e,2016-06-24 01:06:03 UTC+0000,What is the best laptop for a student pursuing...,I am a first year Computer Science Major. And ...
46267,88a6eac478ce4c46a4c246dd42b210a0,software,27392,88a6eac478ce4c46a4c246dd42b210a0,"Fort Worth, Texas",2015-09-03 17:40:45 UTC+0000,659f87a225884a3dad6f383f6dac3058,88a6eac478ce4c46a4c246dd42b210a0,2015-09-03 17:57:47 UTC+0000,What should I do to prepared to go to college ...,I am looking to go to college for computer eng...
5589,4e11cc0437fa4e9eb3ad2258ce9ed042,classes,18151,4e11cc0437fa4e9eb3ad2258ce9ed042,"Kansas City, Missouri",2015-02-18 19:56:21 UTC+0000,74f5775b2bcd491196fc2d699d999d4d,4e11cc0437fa4e9eb3ad2258ce9ed042,2015-02-18 20:18:17 UTC+0000,What is the day to day routine of a technical ...,"I was wondering this, because I am a junior in..."