Using NLP on answers and questions and professionals with NLTK package

In [23]:
import nltk
from nltk import word_tokenize
import pandas as pd

df = pd.read_csv('cv_final.csv')
df.head()

,Unnamed: 0,professionals_id,professionals_location,professionals_industry,professionals_headline,answers_id,answers_body,students_id,students_location,questions_id,questions_title,questions_body
0,0,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,f18d7fca363d4b21a81e6683c5a86b96,"<html><head></head><body><p>Hi Deja,</p>\n<p>K...",16908136951a48ed942738822cedd5c2,"Palm Harbor, Florida",e214acfbe6644d65b889a3268828db9d,what does it take to be an anesthesiologist?,I am a sophomore who is interested in learning...
1,1,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,5d670d5f8700402ab56bae609b06d02d,<html><head></head><body><p>It looks like this...,16908136951a48ed942738822cedd5c2,"Palm Harbor, Florida",9d211b99e17c46fbbaca03dc6b43f1c4,what are some of the ups and downs of being a ...,I am a sophomore who is interested in learning...
2,2,13b55ed4834e4814bb33a4c87001063d,"Memphis, Tennessee",Hospital & Health Care,NICU Nurse Manager at Baptist Memorial Hospita...,1265c6484d5c476ca60c1bed13ea5cd6,<p>Being a neonatal nurse is very rewarding an...,16908136951a48ed942738822cedd5c2,"Palm Harbor, Florida",9d211b99e17c46fbbaca03dc6b43f1c4,what are some of the ups and downs of being a ...,I am a sophomore who is interested in learning...
3,3,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,6d823a750e294c75b10fafbbbaf19855,<p><em>[Posted on behalf of a CareerVillage Pr...,177f482adc1a449284471f7c556ee8f0,United States,e978b437413048c183e3cb556f90a878,What do I have to do to become an investor?,<p>I would like to invest in other companies w...
4,4,a8d48ad29465479bbeb7f19ee3b77d1a,"Bengaluru, Karnataka, India",Information Technology and Services,Escalation Specialist at Dell,63be2c32d84c4e74bf34c6e5cce16e47,<p>Understand the Market\nAnalyze Your Finance...,177f482adc1a449284471f7c556ee8f0,United States,e978b437413048c183e3cb556f90a878,What do I have to do to become an investor?,<p>I would like to invest in other companies w...

In [69]:
test = df.iloc[4]['answers_body'] ## use this method to get element as string
print(type(test))
print(test)

<class 'str'>
<p>Understand the Market
Analyze Your Finances
Assemble a Team</p>

In [64]:
nltk.download('wordnet') ## only need to do this once

[nltk_data] Error loading investor: Package 'investor' not found in
[nltk_data]     index

False

In [73]:
syns = wordnet.synsets('argentine')
print(syns)

[Synset('argentine.n.01'), Synset('argentine.a.01')]

In [74]:
## function from guru99.com/wordnet-nltk.html 

from nltk.corpus import wordnet
synonyms = []
antonyms = []

for syn in wordnet.synsets("argentine"):
    for l in syn.lemmas():
        synonyms.append(l.name())
        if l.antonyms():
            antonyms.append(l.antonyms()[0].name())

print(set(synonyms))
print(set(antonyms))

{'Argentine', 'Argentinian', 'argentine'}
set()